.auth-page {
    align-items: center;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.auth-page form {
    background: #fff;
    border: 1px solid #ddd;
    max-width: 400px;
    padding: 50px 25px;
    width: 100%;
}

.auth-page form .pass {
    position: relative;
}

.password-show-toggle {
    cursor: pointer;
    float: right;
    margin-left: -25px;
    margin-right: 5px;
    margin-top: -25px;
    opacity: 0.3;
    position: relative;
    z-index: 2;
}