.post-thumb {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 2px;
    overflow: hidden;
    margin: 2px 0;
}

.post-thumb-display {
    min-width: 50px;
    height: 300px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.post-thumb-display img, .post-thumb-display video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.post-thumb-display .post-thumb-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.post-thumb-display:hover .post-thumb-menu {
    opacity: 1;
}

.post-thumb-display .post-thumb-menu i {
    font-size: 1.8rem;
    color: white;
    margin: 0 25px;
}

@media(max-width:903px) {
    .post-thumb {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 2px;
    }
    .post-thumb-display {
        min-width: 200px;
        height: 250px;
    }
}

@media(max-width:800px) {
    .post-thumb {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2px;
    }
    .post-thumb-display {
        min-width: 175px;
        height: 200px;
    }
}

@media(max-width:700px) {
    .post-thumb {
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        grid-gap: 2px;
    }
    .post-thumb-display {
        min-width: 150px;
        height: 175px;
    }
}

@media(max-width:600px) {
    .post-thumb {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 2px;
    }
    .post-thumb-display {
        min-width: 130px;
        height: 150px;
    }
}

@media(max-width:500px) {
    .post-thumb {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-gap: 2px;
    }
    .post-thumb-display {
        min-width: 100px;
        height: 130px;
    }
}

@media(max-width:393px) {
    .post-thumb {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 2px;
    }
    .post-thumb-display {
        min-width: 75px;
        height: 100px;
    }
}

@media (max-width: 300px) {
    .post-thumb {
        grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
        grid-gap: 2px;
    }
    .post-thumb-display {
        min-width: 50px;
        height: 70px;
    }
}